<ion-header>
  <ion-toolbar>
    <ion-title>
      Change Password
    </ion-title>

    <ion-buttons start>
      <button type="button" ion-button clear (click)="dismiss()">
        <span ion-text showWhen="ios">Cancel</span>
        <ion-icon name="md-close" color="dark" showWhen="android,windows,pc"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" required></ion-input>
    </ion-item>

    <div class="padding-top">
      <button ion-button [disabled]="!newPassword.length" type="submit" color="primary" block (click)="save()">Save</button>
    </div>
  </ion-list>
</ion-content>