<div>
  Soy el privacy selector!
  <!-- The current selected item is: {{ data | json }} <br>
  <ion-select [(ngModel)]="data">
    <ion-option *ngFor="let item of privacies" value="{{ item }}">{{ item.name }}</ion-option>
    <ion-option value="mundo">Hola</ion-option>
    <ion-option value="vale">chao</ion-option>
  </ion-select> -->

  <!-- <div *ngIf="data">
    <div *ngIf="data.id == 3">
      <div class="people" *ngFor="let item of people">
        <input type="checkbox" [(ngModel)]="item.selected"> {{ item.name }}
      </div>
    </div>
  </div> -->
</div>
