<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="videos" [hidden]="session.isActive()">
        Login
      </ion-segment-button>
      <ion-segment-button value="videos" [hidden]="!session.isActive()">
        Videos
      </ion-segment-button>
      <ion-segment-button value="info" [hidden]="!session.isActive()">
        Information
      </ion-segment-button>
      <ion-segment-button value="subscriptions" [hidden]="!session.isActive()">
        Subscriptions
      </ion-segment-button>
      <ion-segment-button value="subscribers" [hidden]="!session.isActive()">
        Subscribers
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Not logged in -->
  <div *ngIf="!session.isActive()" class="padding-right padding-top">
    <button class="margin-sm-lr" ion-button (click)="openRegisterModal()" block>Register</button>
    <br>
    <button class="margin-sm-lr" ion-button clear (click)="openLoginModal()" block>Log in</button>
  </div>
  <!-- /Not logged in -->

  <!-- User View -->
  <div *ngIf="session.isActive()">
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'videos'">
        <video-list [self]="session"></video-list>
      </div> 

      <ion-list *ngSwitchCase="'info'" padding>
        <p>
          <span class="bold">Username:</span> {{ session.nickname }}
        </p>

        <p>
          <span class="bold">First Name:</span> {{ session.firstName }}
        </p>

        <p>
          <span class="bold">Last Name:</span> {{ session.lastName }}
        </p>

        <p>
          <span class="bold">Member since:</span> {{ session.createdAt | date:'dd/MMM/yyyy @ HH:mm a' }}
        </p>

        <button ion-button block (click)="openChangePasswordModal()">
          Change password
        </button>
      </ion-list>

      <ion-list *ngSwitchCase="'subscriptions'">
        <ion-item *ngFor="let item of allUsers">
          <ion-thumbnail item-start>
            <img src="http://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
          </ion-thumbnail>
          <h2 class="bold">{{ item.nickname }} <small class="text-muted">{{ item.firstName }} {{ item.lastName }}</small></h2>
          <button *ngIf="!item.subscribed" ion-button clear (click)="subscribe(item)">Subscribe</button>
          <ion-badge *ngIf="item.subscribed">Suscribed</ion-badge>
          <button *ngIf="item.subscribed" ion-button clear (click)="unsubscribe(item)" clear>Unsubscribe</button>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'subscribers'">
        <ion-item *ngFor="let item of subscribers">
          <ion-thumbnail item-start>
            <img src="http://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
          </ion-thumbnail>
          <h2 class="bold">{{ item.nickname }} <small class="text-muted">{{ item.firstName }} {{ item.lastName }}</small></h2>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- /User View -->
</ion-content>
