<ion-header>
  <ion-navbar *ngIf="!session.isActive()">
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>

  <ion-navbar no-border-bottom *ngIf="session.isActive()">
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top *ngIf="session.isActive()">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="videos">
        Videos
      </ion-segment-button>
      <ion-segment-button value="info">
        Information
      </ion-segment-button>
      <ion-segment-button value="suscribers">
        Suscribers
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Not logged in -->
  <div *ngIf="!session.isActive()" padding>
    <button class="margin-sm-lr" ion-button (click)="openRegisterModal()" block>Register</button>
    <br>
    <button class="margin-sm-lr" ion-button clear (click)="openLoginModal()" block>Log in</button>
  </div>
  <!-- /Not logged in -->

  <!-- User View -->
  <div *ngIf="session.isActive()">
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'videos'">
        <video-list [self]="session"></video-list>
      </div> 

      <ion-list *ngSwitchCase="'info'" padding>
        <p>
          <span class="bold">Username:</span> {{ session.nickname }}
        </p>

        <p>
          <span class="bold">First Name:</span> {{ session.firstName }}
        </p>

        <p>
          <span class="bold">Last Name:</span> {{ session.lastName }}
        </p>

        <p>
          <span class="bold">Member since:</span> {{ session.createdAt | date:'dd/MMM/yyyy @ HH:mm a' }}
        </p>

        <!-- <button class="btn-drive" ion-button block color="drive">
          <img class="margin-sm-right" src="https://lh6.ggpht.com/k7Z4J1IIXXJnC2NRnFfJNlkn7kZge4Zx-Yv5uqYf4222tx74wXDzW24OvOxlcpw0KcQ=w300" width="25" height="25"> 
          Sync Drive
        </button> -->
      </ion-list>

      <ion-list *ngSwitchCase="'suscribers'">
        <ion-item *ngFor="let item of suscribers">
          <ion-thumbnail item-start>
            <img src="http://d22r54gnmuhwmk.cloudfront.net/app-assets/global/default_user_icon-7a95ec473c1c41f6d020d32c0504a0ef.jpg">
          </ion-thumbnail>
          <h2 class="bold">{{ item.nickname }} <small class="text-muted">{{ item.firstName }} {{ item.lastName }}</small></h2>
          <button *ngIf="!item.subscribed" ion-button clear (click="subscribe(item)">Subscribe</button>
          <ion-badge *ngIf="item.subscribed" (click)="unsubscribe(item)">Suscribed</ion-badge>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- /User View -->
</ion-content>
